<div class="page-width feature-row">
  <div class="feature-row bg-color">
    <div class="feature-row__item five-colm">
      <div class="after-showr-content">
        <h3>{{section.settings.title}}</h3>
      </div>
    </div>
    <div class="feature-row__item seven-colm">
      <div class="after-show-image">
       <img class="" 
          src="{{ section.settings.image-one | img_url : '1024x' }}"/>
      </div>
    </div>
  </div>
  
</div>



{% schema %}
{
  "name": {
    "de": "Foto mit Text",
    "en": "Image with text",
    "es": "Imagen con texto",
    "fr": "Image avec du texte",
    "it": "Immagine con testo",
    "ja": "テキスト付き画像",
    "pt-BR": "Imagem com texto"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image-one",
      "label": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Foto mit Text",
        "en": "Image with text",
        "es": "Imagen con texto",
        "fr": "Image avec du texte",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "pt-BR": "Imagem com texto"
      }
    }
  
 ],
  "presets": [
    {
      "name": {
        "de": "Foto mit Text",
        "en": "Result After One Shower",
        "es": "Imagen con texto",
        "fr": "Image avec texte",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "pt-BR": "Imagem com texto"
      },
      "category": {
        "de": "Foto",
        "en": "Product",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "pt-BR": "Imagem"
      }
    }
  ]
}
{% endschema %}
